<div id="time_log-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Log</h4>
      </div>
        <div class="modal-body">
         <%= form_for render_action(time_log, project), remote: true do |f| %>
          <%= render 'shared/error', object: time_log %>
          <div class= "model-body">
            <div class="form-group">
              <%= f.label :hours %>
              <%= f.text_field :hours, placeholder: "Enter hours ", class: 'form-control' %>
            </div>
              <%= f.submit class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
