<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </li>
  <li>
      <%= link_to "Edit Profile", edit_user_registration_path, class: 'glyphicon glyphicon-user' %>
  </li>
</ul>
<ul class="nav navbar-nav navbar-left">
  <li><%= link_to 'Home', root_path, class: 'glyphicon glyphicon-home'%></li>
  <% if current_user.admin? %>
    <li>
      <%= link_to "Clients", clients_path, class: 'glyphicon glyphicon-user' %>
    </li>
    <li>
      <%= link_to "Users", admin_root_path, class: 'glyphicon glyphicon-user' %>
    </li>
  <% end %>
</ul>
