<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client.errors.count, "error") %> Unable to save:
      </h2>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field box">
    <label><b><div><%= f.label :name %></b></label><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control margin-bottom' %>
  </div>
  <div class="field box">
    <label><b><%= f.label :email %></b></label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control margin-bottom' %>
  </div>
  <div class="field">
    <label><b><%= f.label :country %></b></label><br />
    <%=  f.country_select :country , class: 'form-control margin-bottom' %>
  </div>
  <div class="actions submit-button">
    <label><b> <%= f.submit "Create", class: 'btn btn-primary active' %></b></label>
  </div>
<% end %>
