<%= form_for @project do |f| %>
  <%= render 'shared/error', object: @project %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :Price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :Status %><br>
    <%= f.select :status, Project.statuses.keys.first(2) %>
  </p>
  <p>
    <%= f.label :Date %><br>
    <%= f.text_field :end_date, data: { behaviour: :datepicker }, autocomplete: :off %>
  </p>
  <p>
    <%= f.label :Client %><br>
    <%= f.select :client_id, Client.all.map { |u| [u.name, u.id] }, { include_blank: true }, { class: 'chosen-select' } %>
  </p>
  <p>
    <%= f.label :Users %><br>
    <%= f.select  :user_ids, User.all.map { |u| [u.name, u.id] }, { prompt: 'Select User' }, { multiple: true, class: 'chosen-select manage-height', placeholder: 'Select'} %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
