<div class="container">
  <div class=" col-md-12 col-lg-12 ">
    <h2 class="text-primary"><strong>Basic information</strong> </h2>
    <table class="table table-bordered text-size">
      <thead>
        <tr>
          <td class="text-primary">Title</td>
          <td><%= @project.title %></td>
        </tr>
        <tr>
          <td class="text-primary">Price</td>
          <td><%= @project.price %>$</td>
        </tr>
        <tr>
          <td class="text-primary">Delivery Time</td>
          <td><%= @project.end_date %></td>
        </tr>
        <tr>
          <td class="text-primary">Status</td>
          <td><%= @project.status %></td>
        </tr>
       </thead>
    </table>
    <h2 class="text-primary"><strong> Description </strong> </h2>
    <p><%= @project.description %></p>
    <h2 class="text-primary"><strong> Attachments </strong> </h2>
    <% @attachments.each do |attachment| %>
      <div class="col-md-4">
        <a href="<%= attach.file.url %>" download="" class="no-underline">
          <li class="file-font">
            <%= attachment.file_file_name.capitalize %>
          </li>
        </a>
      </div>
    <% end %>
    <h2 class="text-primary"><strong> Technical Team </strong> </h2>
    <table class="table table-bordered text-size">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @project.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-right">
      <%= link_to "Add payment", new_project_payment_path(@project), remote: true, class: 'btn btn-primary btn-lg' %>
    </div>
    <h2 class="text-primary"><strong> Payment Detail </strong> </h2>
  </div>
  <div id="payments">
    <table class="table table-bordered text-size">
      <thead>
        <tr>
          <th>Payment</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @project.payments.ordered %>
      </tbody>
    </table>
  </div>
</div>
