<!DOCTYPE html>
<%= render "homepage/header" %>
<div class="container">
  <h2>WorkSpace</h2>            
  <table class="table table-bordered">
   
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user|%>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <% if user.gender == false %>
            <td>Male</td>
          <% else %>
            <td>Male</td>
          <% end %>
          <% if user.enable? %>
            <td>
              <%= link_to change_status_admin_admin_path(user) do %>
              <button class="btn btn-xs red" >Disable</button>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= link_to change_status_admin_admin_path(user) do %>
              <button class="btn btn-xs green" >Enable</button>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
