<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <div class="text-right">
        <%= form_tag admin_root_path, method: :get do %>
          <div class="search-margin">
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", name:nil %>
          </div>
        <% end %>
        <%= link_to "Create New Project", new_project_path, class: 'btn btn-primary btn-lg' %>
      </div>
      <h2>WorkSpace</h2>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>status</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="text-size">
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.gender_description %></td>
          <td>
            <span class="label-size label label-<%= user_status_class(user) %>"><%= user.status.capitalize %></span>
          </td>
          <td>
            <span class="label-size label label-<%= user_role_class(user) %>"><%= user.role.capitalize %></span>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-default">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% if user.enable? %>
                  <li><%= link_to "Change role", update_role_admin_user_path(user) %></li>
                <% end %>
                <li><%= link_to "Change status", update_status_admin_user_path(user) %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
